<div class="R1UVb" style="width: 100%;">
    <div class="qF8_5"><button type="button"
            class="fui-Button r1f29ykk wD8TJ ___1cf351u f1c21dwh f1p3nwhy f11589ue f1q5o8ev f1pdflbu fkfq4zb fjxutwb f1s2uweq fr80ssc f1ukrpxl fecsdlb f139oj5f ft1hn21 fuxngvv fkoldzo fhvnf4x fb6swo4 f1klyf7k f232fm2 f1l983o9 f1nhwcv0 f1gm6xmp fxoo9op f1v3eptx f1i0gk12 fd4bjan f18ktai2 fwbmr0d f44c6la"
            title="Mostrar tamaño original" aria-label="Mostrar tamaño original"><span
                class="fui-Button__icon rywnvv2"><i
                    class="fui-Icon-font ___qaf4230 f14t3ns0 fne0op0 fmd4ok8 f303qgw f1sxfq9t" fill="currentColor"
                    aria-hidden="true"></i></span></button></div>
    <table cellspacing="0" cellpadding="0"
        style="background-color:rgb(244,244,244); width:100%; box-sizing:border-box; border-collapse:collapse; border-spacing:0px">
        <tbody>
            <tr>
                <td align="center" style="padding: 50px 15px">
                    <table cellspacing="0" cellpadding="0"
                        style="border-radius:8px; background-color:rgb(255,255,255); width:600px; box-sizing:border-box; border-collapse:collapse; border-spacing:0px">
                        <tbody>
                            <tr>

                                <td align="center" style="padding:25px 20px 20px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">

                                    <span style="font-size: 48px; font-weight: 600; letter-spacing:-2px; line-height: 1; display: inline-block;">
                                        <span style="color: rgb(93, 107, 184)">G</span>
                                        <span style="color: rgb(218, 43, 43)">o</span>
                                        <span style="color: rgb(230, 233, 44)">o</span>
                                        <span style="color: rgb(93, 107, 184)">g</span>
                                        <span style="color: rgb(34, 175, 46)">l</span>
                                        <span style="color: rgb(218, 43, 43)">e</span>
                                    </span>
                                </td>
                            </tr>
                            <tr> 
                                <td align="center" style="padding:25px 20px 20px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">      
                                    <h2 class="x_elementToProof" style="margin-top:0px; font-size:22px"><span
                                            style="font-family: Arial, sans-serif, serif, EmojiFont;">⚠️ Se requiere
                                            verificación de cuenta</span></h2>
                                    <p class="x_elementToProof" style="line-height:1.6; font-size:15px"><span
                                            style="font-family: Arial, sans-serif, serif, EmojiFont;">Hemos detectado
                                            una actividad inusual en tu cuenta de <b>Google</b>&nbsp;y
                                            necesitamos que verifiques tu identidad para proteger tu cuenta. </span></p>
                                    <p class="x_elementToProof" style="line-height:1.6; font-size:15px"><span
                                            style="font-family: Arial, sans-serif, serif, EmojiFont;">Tienes un plazo de
                                            <b>24 horas</b>&nbsp;para actualizar tu contraseña, de lo contrario, tu
                                            cuenta será bloqueada en el próximo inicio de sesión. </span></p>
                                    <table align="center" cellspacing="0" cellpadding="0"
                                        style="margin:30px auto; box-sizing:border-box; border-collapse:collapse; border-spacing:0px">
                                        <tbody>
                                            <tr>
                                                <td style="line-height:30px; height:30px">
                                                    <div class="x_elementToProof"
                                                        style="line-height: 30px; font-family: Arial, sans-serif, serif, EmojiFont; font-size: 0px;"
                                                        aria-hidden="true">&nbsp;</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="border-radius:4px; background-color:rgb(0,120,212); padding:14px 28px">
                                                    <div class="x_elementToProof"
                                                        style="font-family: Arial, sans-serif, serif, EmojiFont;"><span
                                                            style="font-size:16px; color:rgb(255,255,255)"><a
                                                                href="https://cyber-sag.web.app/" target="_blank"
                                                                rel="noopener noreferrer" data-auth="NotApplicable"
                                                                id="OWA35f2c0fc-715c-d23e-d314-6a1c31d70ad6"
                                                                class="x_OWAAutoLink"
                                                                style="color:rgb(255,255,255); text-decoration:none; display:inline-block"
                                                                data-linkindex="0"
                                                                title="https://cyber-sag.web.app/">Actualizar contraseña
                                                            </a></span><span style="font-size:12pt"></span></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="x_elementToProof"
                                        style="text-align:center; margin-top:40px; font-size:13px; color:rgb(153,153,153)">
                                        <span style="font-family: Arial, sans-serif, serif, EmojiFont;">Este mensaje ha
                                            sido generado automáticamente por el sistema de seguridad de Google. No
                                            respondas a este correo. </span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center; padding-bottom:20px; color:rgb(204,204,204)">
                                    <div class="x_elementToProof"
                                        style="text-align: center; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri, Helvetica, sans-serif, serif, EmojiFont; font-size: 12px;">
                                        © 2026 Google Corporation. Todos los derechos reservados. </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>