/* SUB MENU */

.contenido-submenu {
    width: 215px;
    height: 100vh;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    overflow-y: auto;
    z-index: 1;
    transition: all 0.3s ease; /* Para el cambio en dispositivos móviles */
}

.contenido-submenu .logo {
    text-align: center;
    margin-bottom: 50px;
}

.contenido-submenu .logo img {
    padding-top: 50px;
    width: 220px;
}

.contenido-submenu .nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contenido-submenu .nav li {
    margin-bottom: 15px;
}

.contenido-submenu .nav a {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 7px;
    border-left: 4px solid transparent;
    transition: 0.3s ease;
    font-size: 18px;
}

.contenido-submenu .nav .activa,
.contenido-submenu .nav a:hover{
    background-color: rgba(255, 255, 255, 0.9);  
    border-left: 4px solid #4889C2; 
    color: #4889C2;  
    font-weight: bold;  /* Enfatizar el texto */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-size: 19px;
}


/* CONTENIDO GENERAL */

.contenido-general{
    margin-left: 215px; 
    padding: 0; 
    display: block; 
    height: auto;   
    background-color: #fff;
}

/* PANTALLA COMPLETA - TITULO */

.contenido-general .pantalla-completa {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
}
  
.contenido-general .pantalla-completa .contenido-con-imagen {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    text-align: left;
    width: 100%;
}
  
.contenido-general .pantalla-completa .contenido-con-imagen img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.contenido-general .pantalla-completa .contenido-con-imagen .logo{
    display: none;
}  

.contenido-general .pantalla-completa .texto h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
  
.contenido-general .pantalla-completa .texto span {
    color: #d09956;
}
  
.contenido-general .pantalla-completa .subtitulo {
    font-size: 1.2rem;
    color: #666;
}


/* SECCION POR QUE HICIMOS ESTO */

.contenido-general #por-que-section {
    padding: 20px 30px;
    border-radius: 20px;
    margin: 40px auto;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
}
  
.contenido-general #por-que-section .contenido {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 0 15px;
}
  
.contenido-general #por-que-section h2 {
    font-size: 2rem;
    color: #b47e41;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}
  
.contenido-general #por-que-section h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #d09956;
    margin: 10px auto 0;
    border-radius: 2px;
}
  
.contenido-general #por-que-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    margin-bottom: 20px;
}
  
.contenido-general #por-que-section strong {
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
}
  
/* SECCION QUE ES PHISHING */

.contenido-general #que-es-section {
    padding: 20px 30px;
    background-color: #f5f5f5;
    color: #333;
    position: relative;
    box-sizing: border-box;
}
  
.contenido-general #que-es-section .contenido {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}
  
.contenido-general #que-es-section h2 {
    font-size: 2rem;
    color: #614738;
    margin-bottom: 1rem;
    text-align: center;
}
  
.contenido-general #que-es-section h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #685347;
    margin: 10px auto 0;
    border-radius: 2px;
}
  
.contenido-general #que-es-section .intro {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #614738;
    font-weight: bold;
}
  
.contenido-general #que-es-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    margin-bottom: 20px;
}
  
.contenido-general #que-es-section p strong {
    font-size: 1.2rem;
    color: #000;
}
  
.contenido-general #que-es-section .version-digital {
    font-style: italic;
    font-weight: 500;
    color: #555;
}
  
.contenido-general #que-es-section .ventana-flotante {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-right: -80px;
    margin-left: -80px;
}
  
.contenido-general #que-es-section .ventana-flotante .tarjeta {
    width: 190px;
    background: white;
    padding: .4em;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  
.contenido-general #que-es-section .ventana-flotante .tarjeta-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
  }
  
.contenido-general #que-es-section .ventana-flotante .tarjeta-image img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: 100%;
    object-fit: contain;
}
  
.contenido-general #que-es-section .ventana-flotante .tarjeta-image:hover {
    transform: scale(0.98);
}
  
.contenido-general #que-es-section .ventana-flotante .encabezado {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
    text-align: center;
}
  

/* SECCION COMO SE VE */

.contenido-general #como-se-ve {
    padding: 20px 30px;
    border-radius: 20px;
    margin: 40px auto;
    max-width: 1000px;
}
  
.contenido-general #como-se-ve .contenido {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}
  
.contenido-general #como-se-ve h2 {
    font-size: 2.2rem;
    color: #b47e41;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
  
.contenido-general #como-se-ve h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #d09956;
    margin-top: 10px;
    border-radius: 2px;
}
  
.contenido-general #como-se-ve .intro {
    font-size: 18px;
    margin-bottom: 10px;
    max-width: 800px;
    margin: 20px auto;
  }
  
.contenido-general #como-se-ve .tarjetas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
  
.contenido-general #como-se-ve .tarjeta {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
    background: rgba(255,255,255,.1);
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    text-align: center;
}
    
.contenido-general #como-se-ve .tarjeta h3 {
    font-size: 1.4em;
    margin-bottom: 15px;
    color: #333;
}
  
.contenido-general #como-se-ve .tarjeta img {
    max-width: 100%;
    height: auto;
    width: 500px;
    margin-bottom: 15px;
}
  
.contenido-general #como-se-ve .tarjeta p {
    font-size: 1em;
    color: #555;
} 


/* REPONSIVE */


@media (max-width: 1120px) {

    .contenido-general .pantalla-completa .contenido-con-imagen img {
        max-width: 250px;
    }

    .contenido-general .pantalla-completa .texto h1 {
        font-size: 2rem;
    }

    .contenido-general #que-es-section .ventana-flotante {
        margin-left: -20px;
        margin-right: -20px;
        gap: 15px;
    }
}

@media (max-width: 1024px) {

    .contenido-submenu {
        width: 180px;
    }

    .contenido-submenu .logo img {
        width: 170px;
    }

    .contenido-submenu .nav a {
        font-size: 16px;
        padding: 8px 5px;
    }

    .contenido-general{
        margin-left: 180px; 
    }
}


@media (max-width: 768px) {

    .contenido-submenu {
        display: none;
    }

    .contenido-general{
        margin-left: 0px; 
    }
    
    .contenido-general .pantalla-completa{
        margin-bottom: 10px;
    }

    .contenido-general .pantalla-completa .contenido-con-imagen {
        flex-direction: column;
        text-align: center;
    }

    .contenido-general .pantalla-completa .contenido-con-imagen .logo{
        display: block;
        width: 200px;
        margin: auto;
    } 

    .contenido-general #por-que-section {
        padding: 15px 20px;
        margin: 30px auto;
    }

    .contenido-general #por-que-section h2 {
        font-size: 1.7rem;
    }

    .contenido-general #por-que-section p {
        font-size: 1rem;
    }

    .contenido-general #por-que-section strong {
        font-size: 1.1rem;
    }

    .contenido-general #que-es-section h2 {
        font-size: 1.7rem;
    }

    .contenido-general #que-es-section .intro {
        font-size: 1.3rem;
    }

    .contenido-general #que-es-section p {
        font-size: 1rem;
    }

    .contenido-general #que-es-section p strong {
        font-size: 1.1rem;
    }

    .contenido-general #que-es-section .ventana-flotante .tarjeta {
        width: 45%;
    }

    .contenido-general #como-se-ve {
        padding: 20px 15px;
    }

    .contenido-general #como-se-ve h2 {
        font-size: 1.8rem;
    }

    .contenido-general #como-se-ve .intro {
        font-size: 1.1rem;
    }

    .contenido-general #como-se-ve .tarjetas-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .contenido-general #como-se-ve .tarjeta img {
        max-width: 100%;
    }
}




@media (max-width: 480px){

    .contenido-general #por-que-section {
        padding: 10px 15px;
        margin: 20px auto;
    }

    .contenido-general #por-que-section h2 {
        font-size: 1.5rem;
    }

    .contenido-general #por-que-section h2::after {
        width: 60px;
    }

    .contenido-general #por-que-section p {
        font-size: 0.95rem;
    }

    .contenido-general #por-que-section strong {
        font-size: 1rem;
    }
}