<div class="simulacro-phishing">

    <!-- SUB MENU -->

    <div class="contenido-submenu">
        <div class="logo">
            <img src="https://firebasestorage.googleapis.com/v0/b/cyber-sag.firebasestorage.app/o/Empresa%2Flogo.png?alt=media&token=d2c9d8b6-bf9b-4f36-9b79-2f8510728cfd" alt="Logo">
        </div>
        <ul class="nav">
        <li><a href="#por-que-section">¿Por qué hicimos esto?</a></li>
        <li><a href="#que-es-section">¿Qué es el phishing?</a></li>
        <li><a href="#como-se-ve">¿Cómo se ve?</a></li>
        <li><a href="#trampas">Las trampas más comunes</a></li>
        <li><a href="#evitar-phishing">¿Cómo evitar caer?</a></li>
        </ul>
    </div>

    <div class="contenido-general">

        <!-- TITULO -->
         
        <div class="pantalla-completa">
            <div class="contenido-con-imagen">
                <img src="https://firebasestorage.googleapis.com/v0/b/cyber-sag.firebasestorage.app/o/Phishing%2FCiberseguridad.png?alt=media&token=77585eef-550c-4b19-b2ec-d48c5eab8e16" alt="Imagen lateral">
                <div class="texto">
                    <h1>¡Ups! Caíste en una <span>Simulación de Phishing</span>...</h1>
                    <p class="subtitulo">La simulación fue realizada por el Dpto de Sistemas</p>
                    <div class="logo">
                        <img src="https://firebasestorage.googleapis.com/v0/b/cyber-sag.firebasestorage.app/o/Empresa%2Flogo.png?alt=media&token=d2c9d8b6-bf9b-4f36-9b79-2f8510728cfd" alt="Logo">
                    </div>
                </div>
            </div>
        </div>

        <!-- SECCION POR QUE HICIMOS ESTO -->

        <section id="por-que-section">
            <div class="contenido">
                <h2>¿Por qué hicimos esto?</h2>
                <p>
                Porque aprender con la experiencia funciona mejor que mil advertencias. Si abriste ese correo, hiciste clic en el enlace y llegaste hasta aquí… acabas de vivir en primera persona cómo funciona un ataque de phishing.
                </p>
                <p>
                <strong>Tranquilo, esta vez no pasó nada.</strong> Pero podría haber sido real. Así que vamos a explicarte de forma clara (y sin tecnicismos aburridos) qué es esto del phishing y cómo puedes protegerte.
                </p>
            </div>
        </section>
        
    </div>
</div>